.text{
    border: solid;
    background-color:white;
    width: 300px;
    height: 200px;

}

 .head{
     display: flex;
     justify-content: center;
 }
.submit{
    padding-top: 10px;
    display: flex;
    justify-content: center;

}
 .btn{

     color: tomato;
 }
 .main{
     display: flex;
     justify-content: center;
 }

 /* .box{
     border: solid;
     background-color: thistle;

 } */

 .button{
    display: flex;
    justify-content: center;
    padding-top: 5px;
 }